i {
    font-size: 12rem;
    color: darkgray;
}
img {
    width: auto;
    height: 9.5rem;
}
div{
    margin: 0 auto;
}
.cover {
    width: 1600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}